# Modelling Cloud Services Billing Data

**This is a mock example with tailor made data for show purposes**

We will design a Data Warehouse for a web design startup that is interested in having a dashboard or reports were startup employees can check the queries below:

* Average billing per customer
* Billing by country
* Top 10 customers
* Top 10 countries
* Billing by industry
* Billing by category
* Billing by year
* Billing by month
* billing by quarter
* average billing per industry per month
* average billing per industry per quarter
* average billing per country per quarter
* average billing per country per industry per quarter

Up to now, the client has been storing billing data in Excel Spreadsheets and wish to use a Data Warehouse to have persistent data. Also, wants to get insights using Dashboards and getting reports than will be used internally.

To get the final results, we are going to follow an ETL Workflow (Extraction, Transformation, Loading), where from an excel file, we make the necessary modifications model data suitably enough for a Data Warehouse, load data inside that DW and then create a dashboard where users can consult said queries.

## Data

The following image shows the first 5 rows of the sample data provided. Our task is to model inside a Data Warehouse. In total, it has 132,000 billing records from 2009 to 2019.

![Billing Data](../reports/figures/billingdata.png)

We will use PostgreSQL to store data coming from Spreadsheets. We will use the ERD tool provided by the PgAdmin platform to show a graphical representation of the new data model.

# Model

Before transforming data, we will model the tables will be stored.

In a Data Warehouse, modelling data uses denormalization to create snowflake schemas in which we create a fact table (containing numerical data, or facts) and dimension tables (containing categorical data). In our case, the data model is as follows:

![Data Model](../reports/figures/dataschema.png)

Let's explain step by step the model.

We identified the fact table and two dimension tables.

The fact table for the bill is modelled like this:

| Field Name   | Details                                                                        |
|--------------|--------------------------------------------------------------------------------|
| billid       | Primary key - Unique identifier for every bill                                 |
| customerid   | Foreign Key - Id of the customer                                               |
| monthid      | Foreign Key - Id of the month. We can resolve the billed month info using this |
| billedamount | Amount charged by the cloud services provided for that month in USD            |


The two dimensions are as follows.

The fields for the customer dimension are:

| Field Name | Details                                                                    |
|------------|----------------------------------------------------------------------------|
| customerid | Primary Key - Id of the customer                                           |
| category   | Category of the customer. Example: Individual or Company                   |
| country    | Country of the customer                                                    |
| industry   | Which domain/industry the customer belongs to. Example: Legal, Engineering |

As for the month dimension, is as follows:

| Field Name  | Details                                                                                 |
|-------------|-----------------------------------------------------------------------------------------|
| monthid     | Primary Key - Id of the month                                                           |
| year        | Year derived from the month field of the original data. Example: 2010                   |
| month       | Month number derived from the month field of the original data. Example: 1, 2, 3        |
| monthname   | Month name derived from the month field of the original data. Example: March            |
| quarter     | Quarter number derived from the month field of the original data. Example: 1, 2, 3, 4   |
| quartername | Quarter name derived from the month field of the original data. Example: Q1, Q2, Q3, Q4 |

# ETL

## Extraction
We now denormalize data from the Excel with Python

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('../data/raw/billingdata.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132000 entries, 0 to 131999
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                132000 non-null  int64
 1   Customer          132000 non-null  int64
 2   Billed Amount     132000 non-null  int64
 3   Category          132000 non-null  object
 4   Country           132000 non-null  object
 5   Industry          132000 non-null  object
 6   Month of Billing  132000 non-null  object
 7   Quarter           132000 non-null  int64
dtypes: int64(4), object(4)
memory usage: 8.1+ MB

This concludes the extraction stage.

## Transformation

Here, we transform data according to the schema established earlier.

### Fact Table
First, we work on the fact table.

In [3]:
ft_cols = ['ID', 'Customer', 'Month of Billing', 'Billed Amount']
# Extract fact table attributes
df_ft = df.loc[:, ft_cols]
# Rename attributes names
ft_attr = ['billid', 'customerid', 'monthid', 'billedamount']
df_ft = df_ft.rename(columns={ft_cols[i]: ft_attr[i] for i in range(len(ft_cols))})

For consistency purposes, the `monthid` should be formatted to integers in the following format that `2009/01 -> 20091`

In [4]:
df_ft.head()

   billid  customerid  monthid  billedamount
0       1           1  2009/01          5060
1       2         614  2009/01          9638
2       3         615  2009/01         11573
3       4         616  2009/01         18697
4       5         617  2009/01           944

In [5]:
def month_to_int(text):
    new_id = ''.join(map(str, [int(x) for x in text.split('/')]))
    return int(new_id)


df_ft['monthid'] = df_ft.monthid.apply(month_to_int)

In [6]:
df_ft.head()

   billid  customerid  monthid  billedamount
0       1           1    20091          5060
1       2         614    20091          9638
2       3         615    20091         11573
3       4         616    20091         18697
4       5         617    20091           944

In [7]:
df_ft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132000 entries, 0 to 131999
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   billid        132000 non-null  int64
 1   customerid    132000 non-null  int64
 2   monthid       132000 non-null  int64
 3   billedamount  132000 non-null  int64
dtypes: int64(4)
memory usage: 4.0 MB

### Customer Dimension

Now we create the customer dimension.

In [8]:
d1_cols = ['Customer', 'Category', 'Country', 'Industry']
df_d1 = df.loc[:, d1_cols]
d1_attr = ['customerid', 'category', 'country', 'industry']
df_d1.rename(columns={d1_cols[i]: d1_attr[i] for i in range(len(d1_cols))}, inplace=True)
df_d1.drop_duplicates(inplace=True)

In [9]:
df_d1.head()

   customerid    category        country              industry
0           1  Individual      Indonesia           Engineering
1         614  Individual  United States    Product Management
2         615  Individual          China              Services
3         616  Individual         Russia            Accounting
4         617  Individual          Chile  Business Development

In [10]:
df_d1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerid  1000 non-null   int64
 1   category    1000 non-null   object
 2   country     1000 non-null   object
 3   industry    1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 39.1+ KB

### Month Dimension

Finally, we create the month dimension. This is the trickiest dimension given that we only have two date columns (Month of Billing and Quarter), but we would like to have more detailed data and even names for months and quarters. The transformation is as follows.

In [11]:
d2_cols = ['Month of Billing', 'Quarter']
df_d2 = df.loc[:, d2_cols]
df_d2.drop_duplicates(ignore_index=True, inplace=True)
d2_attr = ['monthid', 'quarter']
df_d2.rename(columns={d2_cols[i]: d2_attr[i] for i in range(len(d2_cols))}, inplace=True)
df_d2['quartername'] = df_d2.quarter.apply(lambda x: "Q"+str(x))
df_d2['year'] = df_d2.monthid.apply(lambda x: int(x[:4]))
df_d2['month'] = df_d2.monthid.apply(lambda x: int(x[5:]))

month_names = {
    '1': 'January',
    '2': 'February',
    '3': 'March',
    '4': 'April',
    '5': 'May',
    '6': 'June',
    '7': 'July',
    '8': 'August',
    '9': 'September',
    '10': 'October',
    '11': 'November',
    '12': 'December'
}
df_d2['monthname'] = df_d2.month.apply(lambda x: month_names[str(x)])
df_d2['monthid'] = df_d2.monthid.apply(month_to_int)
df_d2 = df_d2.loc[:, ['monthid', 'year', 'month', 'monthname', 'quarter', 'quartername']]

In [12]:
df_d2.head()

   monthid  year  month monthname  quarter quartername
0    20091  2009      1   January        1          Q1
1   200910  2009     10   October        4          Q4
2   200911  2009     11  November        4          Q4
3   200912  2009     12  December        4          Q4
4    20092  2009      2  February        1          Q1

In [13]:
df_d2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   monthid      132 non-null    int64
 1   year         132 non-null    int64
 2   month        132 non-null    int64
 3   monthname    132 non-null    object
 4   quarter      132 non-null    int64
 5   quartername  132 non-null    object
dtypes: int64(4), object(2)
memory usage: 6.3+ KB

## Loading

Now that we have ready all data, we insert data in the staging area of our Data Warehouse.

First we connect to Postgresql. In this scenario we use a local server, which will be different in a production environment.

In [15]:
import os

user = os.getenv('PSQL_USER')
pwrd = os.getenv('PSQL_PASS')
host = os.getenv('PSQL_HOST')
connection_postgresql = f'postgresql://{user}:{pwrd}@{host}/billingDW'

In [16]:
from sqlalchemy import create_engine, text

engine = create_engine(connection_postgresql, echo=False)

In [17]:
%load_ext sql
%sql $connection_postgresql

'Connected: mywell@billingDW'

Now that we have the connection, we first create the schema into the database.

In [18]:
%%sql
BEGIN;
DROP TABLE IF EXISTS "FactBilling";
DROP TABLE IF EXISTS "DimCustomer";
DROP TABLE IF EXISTS "DimMonth";

CREATE TABLE public."FactBilling"
(
    billid serial,
    customerid integer NOT NULL,
    monthid integer NOT NULL,
    billedamount integer NOT NULL,
    PRIMARY KEY (billid)
);

CREATE TABLE public."DimMonth"
(
    monthid integer NOT NULL,
    year integer NOT NULL,
    month integer NOT NULL,
    monthname varchar(10) NOT NULL,
    quarter integer NOT NULL,
    quartername varchar(2) NOT NULL,
    PRIMARY KEY (monthid)
);

CREATE TABLE public."DimCustomer"
(
    customerid integer NOT NULL,
    category varchar(10) NOT NULL,
    country varchar(40) NOT NULL,
    industry varchar(40) NOT NULL,
    PRIMARY KEY (customerid)
);

ALTER TABLE public."FactBilling"
    ADD FOREIGN KEY (customerid)
    REFERENCES public."DimCustomer" (customerid)
    NOT VALID;


ALTER TABLE public."FactBilling"
    ADD FOREIGN KEY (monthid)
    REFERENCES public."DimMonth" (monthid)
    NOT VALID;

END;

 * postgresql://mywell:***@txu-pi.local./billingDW
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

Once we finished, we proceed to insert data into each tables.

In [19]:
df_d1.to_sql('DimCustomer', con=engine, if_exists='append', index=False)

1000

In [20]:
df_d2.to_sql('DimMonth', con=engine, if_exists='append', index=False)

132

In [21]:
df_ft.to_sql('FactBilling', con=engine, if_exists='append', index=False)

1000

In [22]:
%sql SELECT count(*) FROM "FactBilling";

 * postgresql://mywell:***@txu-pi.local./billingDW
1 rows affected.

[(132000,)]

We are now ready to query our data from our database and make the connection inside a Database.

# Dashboard

To create the Dashboard, we use Grafana as an example. Grafana is a powerful tool to get insights from data, as it allows to connect to several sources and also offers a cloud solution.

To ease the querying in Grafana, we create several Materialized Views to answers the queries of interest. Materialized Views allow to query data faster than normal for certain queries, which in some cases is an advantage by using it in a Data Warehouse.

## Preview

![Dashboard Preview](../reports/figures/dashboard.png)
![Dashboard Preview 2]

## Final Remarks

In this notebook we showed a small example of how would be an ETL workflow to take Excel data into a Data Warehouse and then show results in a Dashboard aimed for the final user.

## Dashboard queries

Average billing per customer

In [23]:
%%sql
SELECT f.customerid, AVG(billedamount) as avg_billing
FROM "FactBilling" f, "DimCustomer" d1
WHERE f.customerid = d1.customerid
GROUP BY f.customerid
ORDER BY f.customerid;

 * postgresql://mywell:***@txu-pi.local./billingDW
1000 rows affected.

[(1, Decimal('10096.250000000000')),
 (2, Decimal('9885.9318181818181818')),
 (3, Decimal('9966.8409090909090909')),
 (4, Decimal('9801.7727272727272727')),
 (5, Decimal('10440.916666666667')),
 (6, Decimal('10639.984848484848')),
 (7, Decimal('9501.7803030303030303')),
 (8, Decimal('9888.6893939393939394')),
 (9, Decimal('10168.037878787879')),
 (10, Decimal('10607.234848484848')),
 (11, Decimal('9788.4545454545454545')),
 (12, Decimal('10290.265151515152')),
 (13, Decimal('9459.4696969696969697')),
 (14, Decimal('10793.818181818182')),
 (15, Decimal('9800.9772727272727273')),
 (16, Decimal('9508.7954545454545455')),
 (17, Decimal('10373.969696969697')),
 (18, Decimal('9724.5681818181818182')),
 (19, Decimal('9752.7878787878787879')),
 (20, Decimal('10379.250000000000')),
 (21, Decimal('9736.7651515151515152')),
 (22, Decimal('10606.840909090909')),
 (23, Decimal('9672.3939393939393939')),
 (24, Decimal('9334.7045454545454545')),
 (25, Decimal('10312.712121212121')),
 (26, Decimal('9164.0075757575757576')),
 (27, Decimal('8989.6136363636363636')),
 (28, Decimal('10262.939393939394')),
 (29, Decimal('9963.5757575757575758')),
 (30, Decimal('9765.7727272727272727')),
 (31, Decimal('9966.1212121212121212')),
 (32, Decimal('10413.439393939394')),
 (33, Decimal('10221.431818181818')),
 (34, Decimal('10082.333333333333')),
 (35, Decimal('10201.931818181818')),
 (36, Decimal('10387.659090909091')),
 (37, Decimal('9597.3560606060606061')),
 (38, Decimal('10134.462121212121')),
 (39, Decimal('10108.287878787879')),
 (40, Decimal('10247.810606060606')),
 (41, Decimal('9986.5606060606060606')),
 (42, Decimal('10603.984848484848')),
 (43, Decimal('9958.8636363636363636')),
 (44, Decimal('10074.1515151515151515')),
 (45, Decimal('11298.424242424242')),
 (46, Decimal('10416.242424242424')),
 (47, Decimal('10549.136363636364')),
 (48, Decimal('10066.1742424242424242')),
 (49, Decimal('9550.1742424242424242')),
 (50, Decimal('9697.1363636363636364')),
 (51, Decimal('10602.265151515152')),
 (52, Decimal('11245.340909090909')),
 (53, Decimal('9894.2954545454545455')),
 (54, Decimal('9796.9318181818181818')),
 (55, Decimal('9900.0151515151515152')),
 (56, Decimal('9553.9166666666666667')),
 (57, Decimal('9359.8787878787878788')),
 (58, Decimal('9699.6515151515151515')),
 (59, Decimal('10300.750000000000')),
 (60, Decimal('10617.128787878788')),
 (61, Decimal('10121.704545454545')),
 (62, Decimal('10030.1287878787878788')),
 (63, Decimal('10780.386363636364')),
 (64, Decimal('9359.0606060606060606')),
 (65, Decimal('9931.2803030303030303')),
 (66, Decimal('9668.5227272727272727')),
 (67, Decimal('10721.674242424242')),
 (68, Decimal('10303.681818181818')),
 (69, Decimal('10531.250000000000')),
 (70, Decimal('10476.984848484848')),
 (71, Decimal('10480.386363636364')),
 (72, Decimal('9649.5378787878787879')),
 (73, Decimal('9946.1060606060606061')),
 (74, Decimal('9153.2272727272727273')),
 (75, Decimal('10208.856060606061')),
 (76, Decimal('9954.8939393939393939')),
 (77, Decimal('10182.689393939394')),
 (78, Decimal('10259.272727272727')),
 (79, Decimal('10074.4015151515151515')),
 (80, Decimal('10840.598484848485')),
 (81, Decimal('9493.3560606060606061')),
 (82, Decimal('9724.3333333333333333')),
 (83, Decimal('9889.6287878787878788')),
 (84, Decimal('10247.977272727273')),
 (85, Decimal('9306.8106060606060606')),
 (86, Decimal('10563.075757575758')),
 (87, Decimal('10620.840909090909')),
 (88, Decimal('10087.401515151515')),
 (89, Decimal('9996.8106060606060606')),
 (90, Decimal('9778.7803030303030303')),
 (91, Decimal('9753.0757575757575758')),
 (92, Decimal('10292.303030303030')),
 (93, Decimal('10392.174242424242')),
 (94, Decimal('10562.712121212121')),
 (95, Decimal('10145.893939393939')),
 (96, Decimal('10562.439393939394')),
 (97, Decimal('10321.075757575758')),
 (98, Decimal('9435.2500000000000000')),
 (99, Decimal('8549.6212121212121212')),
 (100, Decimal('9809.1060606060606061')),
 (101, Decimal('10206.636363636364')),
 (102, Decimal('10298.075757575758')),
 (103, Decimal('9560.1742424242424242')),
 (104, Decimal('9981.3484848484848485')),
 (105, Decimal('10248.712121212121')),
 (106, Decimal('10104.515151515152')),
 (107, Decimal('9412.7045454545454545')),
 (108, Decimal('9950.4621212121212121')),
 (109, Decimal('9683.9166666666666667')),
 (110, Decimal('9812.1212121212121212')),
 (111, Decimal('9469.4015151515151515')),
 (112, Decimal('9813.3484848484848485')),
 (113, Decimal('10104.022727272727')),
 (114, Decimal('10455.083333333333')),
 (115, Decimal('9341.0000000000000000')),
 (116, Decimal('9644.4772727272727273')),
 (117, Decimal('9987.0454545454545455')),
 (118, Decimal('10051.3106060606060606')),
 (119, Decimal('9664.4545454545454545')),
 (120, Decimal('10798.765151515152')),
 (121, Decimal('9846.5909090909090909')),
 (122, Decimal('8816.6742424242424242')),
 (123, Decimal('10003.4393939393939394')),
 (124, Decimal('9802.1742424242424242')),
 (125, Decimal('9301.2500000000000000')),
 (126, Decimal('9537.3257575757575758')),
 (127, Decimal('10367.068181818182')),
 (128, Decimal('9349.6515151515151515')),
 (129, Decimal('10236.212121212121')),
 (130, Decimal('10317.257575757576')),
 (131, Decimal('10477.787878787879')),
 (132, Decimal('10756.174242424242')),
 (133, Decimal('10335.530303030303')),
 (134, Decimal('9727.3787878787878788')),
 (135, Decimal('9358.7575757575757576')),
 (136, Decimal('9540.8712121212121212')),
 (137, Decimal('10259.931818181818')),
 (138, Decimal('10109.310606060606')),
 (139, Decimal('9068.1136363636363636')),
 (140, Decimal('9973.1818181818181818')),
 (141, Decimal('9319.9090909090909091')),
 (142, Decimal('8996.2424242424242424')),
 (143, Decimal('9839.2045454545454545')),
 (144, Decimal('9122.7196969696969697')),
 (145, Decimal('9340.0378787878787879')),
 (146, Decimal('9195.9696969696969697')),
 (147, Decimal('10261.272727272727')),
 (148, Decimal('9485.4469696969696970')),
 (149, Decimal('9782.6363636363636364')),
 (150, Decimal('10086.143939393939')),
 (151, Decimal('9784.5303030303030303')),
 (152, Decimal('10110.030303030303')),
 (153, Decimal('10094.651515151515')),
 (154, Decimal('9948.8560606060606061')),
 (155, Decimal('10133.128787878788')),
 (156, Decimal('9534.4469696969696970')),
 (157, Decimal('9021.3257575757575758')),
 (158, Decimal('9293.8712121212121212')),
 (159, Decimal('9792.4545454545454545')),
 (160, Decimal('9750.1363636363636364')),
 (161, Decimal('9897.6969696969696970')),
 (162, Decimal('10308.257575757576')),
 (163, Decimal('10154.469696969697')),
 (164, Decimal('10113.477272727273')),
 (165, Decimal('10161.825757575758')),
 (166, Decimal('10036.9848484848484848')),
 (167, Decimal('9878.1818181818181818')),
 (168, Decimal('10401.287878787879')),
 (169, Decimal('10451.333333333333')),
 (170, Decimal('10512.106060606061')),
 (171, Decimal('9831.5757575757575758')),
 (172, Decimal('9994.2954545454545455')),
 (173, Decimal('9633.3333333333333333')),
 (174, Decimal('9337.7954545454545455')),
 (175, Decimal('8889.9772727272727273')),
 (176, Decimal('10265.439393939394')),
 (177, Decimal('10071.8560606060606061')),
 (178, Decimal('9295.8181818181818182')),
 (179, Decimal('10714.204545454545')),
 (180, Decimal('10043.6136363636363636')),
 (181, Decimal('10739.575757575758')),
 (182, Decimal('10758.681818181818')),
 (183, Decimal('10198.143939393939')),
 (184, Decimal('10197.871212121212')),
 (185, Decimal('10667.598484848485')),
 (186, Decimal('9659.2803030303030303')),
 (187, Decimal('10334.143939393939')),
 (188, Decimal('10254.257575757576')),
 (189, Decimal('10605.371212121212')),
 (190, Decimal('10048.0530303030303030')),
 (191, Decimal('10658.166666666667')),
 (192, Decimal('10055.9545454545454545')),
 (193, Decimal('9816.8863636363636364')),
 (194, Decimal('11000.015151515152')),
 (195, Decimal('10332.295454545455')),
 (196, Decimal('10197.787878787879')),
 (197, Decimal('9739.4318181818181818')),
 (198, Decimal('10005.4166666666666667')),
 (199, Decimal('10061.7424242424242424')),
 (200, Decimal('9962.5909090909090909')),
 (201, Decimal('11033.234848484848')),
 (202, Decimal('10551.825757575758')),
 (203, Decimal('10285.219696969697')),
 (204, Decimal('10276.833333333333')),
 (205, Decimal('9306.9621212121212121')),
 (206, Decimal('11056.007575757576')),
 (207, Decimal('9711.9015151515151515')),
 (208, Decimal('10499.742424242424')),
 (209, Decimal('10476.621212121212')),
 (210, Decimal('9946.0757575757575758')),
 (211, Decimal('8983.5303030303030303')),
 (212, Decimal('10137.803030303030')),
 (213, Decimal('9804.2121212121212121')),
 (214, Decimal('9894.7878787878787879')),
 (215, Decimal('10477.537878787879')),
 (216, Decimal('9307.0151515151515152')),
 (217, Decimal('9294.3787878787878788')),
 (218, Decimal('10305.840909090909')),
 (219, Decimal('9671.6363636363636364')),
 (220, Decimal('10143.325757575758')),
 (221, Decimal('10277.765151515152')),
 (222, Decimal('9809.8409090909090909')),
 (223, Decimal('10495.204545454545')),
 (224, Decimal('8924.9393939393939394')),
 (225, Decimal('10206.310606060606')),
 (226, Decimal('10560.871212121212')),
 (227, Decimal('10660.719696969697')),
 (228, Decimal('10002.3484848484848485')),
 (229, Decimal('10496.704545454545')),
 (230, Decimal('10483.909090909091')),
 (231, Decimal('10080.901515151515')),
 (232, Decimal('10538.825757575758')),
 (233, Decimal('9829.3181818181818182')),
 (234, Decimal('9893.2575757575757576')),
 (235, Decimal('10220.424242424242')),
 (236, Decimal('10256.439393939394')),
 (237, Decimal('10141.772727272727')),
 (238, Decimal('10271.840909090909')),
 (239, Decimal('10968.303030303030')),
 (240, Decimal('9356.7803030303030303')),
 (241, Decimal('10013.6969696969696970')),
 (242, Decimal('9266.3030303030303030')),
 (243, Decimal('8937.9696969696969697')),
 (244, Decimal('10369.166666666667')),
 (245, Decimal('10269.984848484848')),
 (246, Decimal('10631.712121212121')),
 (247, Decimal('10345.454545454545')),
 (248, Decimal('9898.5833333333333333')),
 (249, Decimal('10508.007575757576')),
 (250, Decimal('9865.8863636363636364')),
 (251, Decimal('10593.477272727273')),
 (252, Decimal('10271.000000000000')),
 (253, Decimal('9906.0378787878787879')),
 (254, Decimal('10642.848484848485')),
 (255, Decimal('10012.3409090909090909')),
 (256, Decimal('9959.9318181818181818')),
 (257, Decimal('10118.583333333333')),
 (258, Decimal('9933.9318181818181818')),
 (259, Decimal('8928.0757575757575758')),
 (260, Decimal('10100.530303030303')),
 (261, Decimal('9478.8257575757575758')),
 (262, Decimal('10660.704545454545')),
 (263, Decimal('9184.8787878787878788')),
 (264, Decimal('9560.6893939393939394')),
 (265, Decimal('9907.3636363636363636')),
 (266, Decimal('10708.712121212121')),
 (267, Decimal('9831.9318181818181818')),
 (268, Decimal('10229.848484848485')),
 (269, Decimal('9204.9015151515151515')),
 (270, Decimal('10039.7575757575757576')),
 (271, Decimal('9967.5454545454545455')),
 (272, Decimal('10223.446969696970')),
 (273, Decimal('10330.901515151515')),
 (274, Decimal('9891.1969696969696970')),
 (275, Decimal('9356.5909090909090909')),
 (276, Decimal('10649.363636363636')),
 (277, Decimal('10253.575757575758')),
 (278, Decimal('9320.6060606060606061')),
 (279, Decimal('10321.833333333333')),
 (280, Decimal('10344.977272727273')),
 (281, Decimal('9964.5833333333333333')),
 (282, Decimal('10889.545454545455')),
 (283, Decimal('9368.6969696969696970')),
 (284, Decimal('10275.371212121212')),
 (285, Decimal('9288.7121212121212121')),
 (286, Decimal('10602.825757575758')),
 (287, Decimal('10249.765151515152')),
 (288, Decimal('9830.1515151515151515')),
 (289, Decimal('9660.1666666666666667')),
 (290, Decimal('9089.1287878787878788')),
 (291, Decimal('9939.7954545454545455')),
 (292, Decimal('9125.5681818181818182')),
 (293, Decimal('10191.371212121212')),
 (294, Decimal('10208.068181818182')),
 (295, Decimal('10158.992424242424')),
 (296, Decimal('10317.151515151515')),
 (297, Decimal('10458.757575757576')),
 (298, Decimal('9764.8257575757575758')),
 (299, Decimal('9973.5000000000000000')),
 (300, Decimal('9704.8712121212121212')),
 (301, Decimal('10047.2348484848484848')),
 (302, Decimal('10033.2045454545454545')),
 (303, Decimal('10141.871212121212')),
 (304, Decimal('9071.1666666666666667')),
 (305, Decimal('8626.2575757575757576')),
 (306, Decimal('10283.962121212121')),
 (307, Decimal('9351.5075757575757576')),
 (308, Decimal('10432.075757575758')),
 (309, Decimal('9689.6439393939393939')),
 (310, Decimal('10443.371212121212')),
 (311, Decimal('10221.969696969697')),
 (312, Decimal('10584.719696969697')),
 (313, Decimal('10478.984848484848')),
 (314, Decimal('9712.0227272727272727')),
 (315, Decimal('9718.4015151515151515')),
 (316, Decimal('9953.0454545454545455')),
 (317, Decimal('10107.098484848485')),
 (318, Decimal('10311.363636363636')),
 (319, Decimal('9897.0075757575757576')),
 (320, Decimal('9637.6742424242424242')),
 (321, Decimal('9958.3333333333333333')),
 (322, Decimal('8637.5151515151515152')),
 (323, Decimal('9382.4621212121212121')),
 (324, Decimal('10572.257575757576')),
 (325, Decimal('8590.1515151515151515')),
 (326, Decimal('9823.0833333333333333')),
 (327, Decimal('10045.9090909090909091')),
 (328, Decimal('9763.3712121212121212')),
 (329, Decimal('9928.7196969696969697')),
 (330, Decimal('9823.3560606060606061')),
 (331, Decimal('9268.2878787878787879')),
 (332, Decimal('10109.924242424242')),
 (333, Decimal('10010.1515151515151515')),
 (334, Decimal('10853.530303030303')),
 (335, Decimal('10045.8636363636363636')),
 (336, Decimal('9591.3030303030303030')),
 (337, Decimal('10340.553030303030')),
 (338, Decimal('9983.1893939393939394')),
 (339, Decimal('9760.5227272727272727')),
 (340, Decimal('9705.9393939393939394')),
 (341, Decimal('9271.8560606060606061')),
 (342, Decimal('10900.030303030303')),
 (343, Decimal('8718.2500000000000000')),
 (344, Decimal('10432.318181818182')),
 (345, Decimal('9792.0681818181818182')),
 (346, Decimal('10245.340909090909')),
 (347, Decimal('10818.212121212121')),
 (348, Decimal('9883.5606060606060606')),
 (349, Decimal('10274.348484848485')),
 (350, Decimal('10263.113636363636')),
 (351, Decimal('10105.560606060606')),
 (352, Decimal('10562.613636363636')),
 (353, Decimal('10156.401515151515')),
 (354, Decimal('10096.363636363636')),
 (355, Decimal('9619.3181818181818182')),
 (356, Decimal('10485.583333333333')),
 (357, Decimal('10151.583333333333')),
 (358, Decimal('10287.628787878788')),
 (359, Decimal('10119.901515151515')),
 (360, Decimal('9342.8106060606060606')),
 (361, Decimal('10105.772727272727')),
 (362, Decimal('9825.7424242424242424')),
 (363, Decimal('9940.0833333333333333')),
 (364, Decimal('9606.1590909090909091')),
 (365, Decimal('9680.5454545454545455')),
 (366, Decimal('10334.689393939394')),
 (367, Decimal('10123.446969696970')),
 (368, Decimal('10410.840909090909')),
 (369, Decimal('8957.7803030303030303')),
 (370, Decimal('9821.0757575757575758')),
 (371, Decimal('11037.863636363636')),
 (372, Decimal('9490.6212121212121212')),
 (373, Decimal('9317.7348484848484848')),
 (374, Decimal('10790.901515151515')),
 (375, Decimal('11418.083333333333')),
 (376, Decimal('9792.9015151515151515')),
 (377, Decimal('10214.492424242424')),
 (378, Decimal('9201.8257575757575758')),
 (379, Decimal('9253.1439393939393939')),
 (380, Decimal('9401.4924242424242424')),
 (381, Decimal('10090.113636363636')),
 (382, Decimal('10909.886363636364')),
 (383, Decimal('9634.4772727272727273')),
 (384, Decimal('10023.9545454545454545')),
 (385, Decimal('9752.7803030303030303')),
 (386, Decimal('11194.742424242424')),
 (387, Decimal('10542.636363636364')),
 (388, Decimal('10377.037878787879')),
 (389, Decimal('9919.0681818181818182')),
 (390, Decimal('9236.8939393939393939')),
 (391, Decimal('10099.454545454545')),
 (392, Decimal('9569.4166666666666667')),
 (393, Decimal('10524.893939393939')),
 (394, Decimal('9369.9318181818181818')),
 (395, Decimal('9787.2424242424242424')),
 (396, Decimal('10015.0000000000000000')),
 (397, Decimal('8932.5000000000000000')),
 (398, Decimal('9637.6893939393939394')),
 (399, Decimal('9885.5606060606060606')),
 (400, Decimal('9353.4166666666666667')),
 (401, Decimal('9977.6363636363636364')),
 (402, Decimal('10260.053030303030')),
 (403, Decimal('10286.068181818182')),
 (404, Decimal('10000.2121212121212121')),
 (405, Decimal('10634.204545454545')),
 (406, Decimal('10532.924242424242')),
 (407, Decimal('10504.166666666667')),
 (408, Decimal('10266.803030303030')),
 (409, Decimal('10433.143939393939')),
 (410, Decimal('10460.734848484848')),
 (411, Decimal('10341.909090909091')),
 (412, Decimal('10398.068181818182')),
 (413, Decimal('9442.1363636363636364')),
 (414, Decimal('9960.7651515151515152')),
 (415, Decimal('10018.0378787878787879')),
 (416, Decimal('11065.348484848485')),
 (417, Decimal('9139.3106060606060606')),
 (418, Decimal('10349.946969696970')),
 (419, Decimal('10546.719696969697')),
 (420, Decimal('9883.3636363636363636')),
 (421, Decimal('10008.0303030303030303')),
 (422, Decimal('9939.0757575757575758')),
 (423, Decimal('9881.7272727272727273')),
 (424, Decimal('9421.0000000000000000')),
 (425, Decimal('9567.3409090909090909')),
 (426, Decimal('9834.0530303030303030')),
 (427, Decimal('9627.3636363636363636')),
 (428, Decimal('9758.0909090909090909')),
 (429, Decimal('9832.6136363636363636')),
 (430, Decimal('10115.333333333333')),
 (431, Decimal('9252.7196969696969697')),
 (432, Decimal('10406.303030303030')),
 (433, Decimal('9124.5000000000000000')),
 (434, Decimal('9922.7500000000000000')),
 (435, Decimal('9521.3863636363636364')),
 (436, Decimal('10691.265151515152')),
 (437, Decimal('9682.8712121212121212')),
 (438, Decimal('10049.9166666666666667')),
 (439, Decimal('9616.1969696969696970')),
 (440, Decimal('10374.212121212121')),
 (441, Decimal('8969.7424242424242424')),
 (442, Decimal('10262.583333333333')),
 (443, Decimal('10009.0984848484848485')),
 (444, Decimal('9805.5303030303030303')),
 (445, Decimal('9777.5833333333333333')),
 (446, Decimal('10221.886363636364')),
 (447, Decimal('10949.537878787879')),
 (448, Decimal('9821.6969696969696970')),
 (449, Decimal('10524.303030303030')),
 (450, Decimal('9865.6590909090909091')),
 (451, Decimal('10084.492424242424')),
 (452, Decimal('10119.825757575758')),
 (453, Decimal('9419.2727272727272727')),
 (454, Decimal('9560.4924242424242424')),
 (455, Decimal('10026.1363636363636364')),
 (456, Decimal('11415.590909090909')),
 (457, Decimal('10069.9545454545454545')),
 (458, Decimal('11007.916666666667')),
 (459, Decimal('9833.4621212121212121')),
 (460, Decimal('9802.7878787878787879')),
 (461, Decimal('9717.5606060606060606')),
 (462, Decimal('10154.621212121212')),
 (463, Decimal('8682.8333333333333333')),
 (464, Decimal('10418.303030303030')),
 (465, Decimal('9094.3257575757575758')),
 (466, Decimal('10373.871212121212')),
 (467, Decimal('10461.848484848485')),
 (468, Decimal('10777.674242424242')),
 (469, Decimal('10140.954545454545')),
 (470, Decimal('10867.272727272727')),
 (471, Decimal('9708.0909090909090909')),
 (472, Decimal('9552.1060606060606061')),
 (473, Decimal('9776.6590909090909091')),
 (474, Decimal('9146.8030303030303030')),
 (475, Decimal('9935.2045454545454545')),
 (476, Decimal('9961.3106060606060606')),
 (477, Decimal('9880.5454545454545455')),
 (478, Decimal('10537.136363636364')),
 (479, Decimal('9373.3712121212121212')),
 (480, Decimal('10054.2954545454545455')),
 (481, Decimal('10511.174242424242')),
 (482, Decimal('10999.916666666667')),
 (483, Decimal('10357.000000000000')),
 (484, Decimal('10372.810606060606')),
 (485, Decimal('9969.8333333333333333')),
 (486, Decimal('10714.431818181818')),
 (487, Decimal('9838.7424242424242424')),
 (488, Decimal('9997.4166666666666667')),
 (489, Decimal('10257.250000000000')),
 (490, Decimal('9216.6212121212121212')),
 (491, Decimal('9342.7348484848484848')),
 (492, Decimal('9027.2424242424242424')),
 (493, Decimal('10095.750000000000')),
 (494, Decimal('10540.621212121212')),

For some queries can be solved using a materialized view

In [24]:
%%sql
SELECT f.customerid, country, industry, category
FROM "FactBilling" f, "DimCustomer" d1
WHERE f.customerid = d1.customerid
LIMIT 10;

 * postgresql://mywell:***@txu-pi.local./billingDW
10 rows affected.

[(1, 'Indonesia', 'Engineering', 'Individual'),
 (614, 'United States', 'Product Management', 'Individual'),
 (615, 'China', 'Services', 'Individual'),
 (616, 'Russia', 'Accounting', 'Individual'),
 (617, 'Chile', 'Business Development', 'Individual'),
 (618, 'Nicaragua', 'Human Resources', 'Individual'),
 (41, 'Brazil', 'Marketing', 'Company'),
 (619, 'Russia', 'Business Development', 'Individual'),
 (620, 'China', 'Business Development', 'Individual'),
 (956, 'Peru', 'Research and Development', 'Individual')]

Billing by country

In [25]:
%%sql
SELECT country, SUM(billedamount) AS total_bill
FROM "FactBilling" f, "DimCustomer" d1
WHERE f.customerid = d1.customerid
GROUP BY country
ORDER BY total_bill desc
LIMIT 10;

 * postgresql://mywell:***@txu-pi.local./billingDW
10 rows affected.

[('China', 240730849),
 ('Indonesia', 131472998),
 ('Russia', 76482870),
 ('Philippines', 70216412),
 ('Portugal', 50006318),
 ('Brazil', 46104537),
 ('France', 40040853),
 ('Poland', 37618955),
 ('Sweden', 34688658),
 ('United States', 31954615)]

Top 10 customers

In [26]:
%%sql
SELECT customerid, SUM(billedamount) AS total_bill
FROM "FactBilling"
GROUP BY customerid
ORDER BY total_bill desc
LIMIT 10;

 * postgresql://mywell:***@txu-pi.local./billingDW
10 rows affected.

[(884, 1582659),
 (638, 1516731),
 (375, 1507187),
 (456, 1506858),
 (831, 1504771),
 (926, 1503772),
 (938, 1501471),
 (963, 1495367),
 (815, 1492014),
 (45, 1491392)]

Top 10 countries

In [27]:
%%sql
SELECT country, SUM(billedamount) AS total_bill
FROM "FactBilling" f, "DimCustomer" d1
WHERE f.customerid = d1.customerid
GROUP BY country
ORDER BY total_bill desc
LIMIT 10;

 * postgresql://mywell:***@txu-pi.local./billingDW
10 rows affected.

[('China', 240730849),
 ('Indonesia', 131472998),
 ('Russia', 76482870),
 ('Philippines', 70216412),
 ('Portugal', 50006318),
 ('Brazil', 46104537),
 ('France', 40040853),
 ('Poland', 37618955),
 ('Sweden', 34688658),
 ('United States', 31954615)]

Billing by industry

In [28]:
%%sql
SELECT industry, SUM(billedamount) AS total_bill
FROM "FactBilling" f, "DimCustomer" d1
WHERE f.customerid = d1.customerid
GROUP BY industry
ORDER BY total_bill desc
LIMIT 10;

 * postgresql://mywell:***@txu-pi.local./billingDW
10 rows affected.

[('Legal', 119663118),
 ('Training', 119505726),
 ('Engineering', 119438439),
 ('Marketing', 117918261),
 ('Research and Development', 112563301),
 ('Product Management', 110646530),
 ('Services', 109674429),
 ('Sales', 108467931),
 ('Human Resources', 108076401),
 ('Business Development', 108017408)]

Billing by category

In [29]:
%%sql
SELECT category, SUM(billedamount) AS total_bill
FROM "FactBilling" f, "DimCustomer" d1
WHERE f.customerid = d1.customerid
GROUP BY category
ORDER BY total_bill desc
LIMIT 10;

 * postgresql://mywell:***@txu-pi.local./billingDW
2 rows affected.

[('Individual', 672775216), ('Company', 647445529)]


Billing by year

In [30]:
%%sql
SELECT year, SUM(billedamount) AS total_bill
FROM "FactBilling" f, "DimMonth" d2
WHERE f.monthid = d2.monthid
GROUP BY year
ORDER BY total_bill desc
LIMIT 10;

 * postgresql://mywell:***@txu-pi.local./billingDW
10 rows affected.

[(2013, 120859328),
 (2019, 120820495),
 (2012, 120761543),
 (2016, 120433289),
 (2009, 120263327),
 (2015, 119808719),
 (2018, 119595980),
 (2017, 119526654),
 (2010, 119484658),
 (2011, 119427469)]




Billing by month

In [31]:
%%sql
SELECT month, SUM(billedamount) AS total_bill
FROM "FactBilling" f, "DimMonth" d2
WHERE f.monthid = d2.monthid
GROUP BY month
ORDER BY month;

 * postgresql://mywell:***@txu-pi.local./billingDW
12 rows affected.

[(1, 110097877),
 (2, 110023410),
 (3, 109805178),
 (4, 109675477),
 (5, 110277191),
 (6, 110368836),
 (7, 110461546),
 (8, 110592841),
 (9, 109937478),
 (10, 109490307),
 (11, 109798817),
 (12, 109691787)]

billing by quarter

In [32]:
%%sql
SELECT quartername, SUM(billedamount) AS total_bill
FROM "FactBilling" f, "DimMonth" d2
WHERE f.monthid = d2.monthid
GROUP BY quartername
ORDER BY quartername;

 * postgresql://mywell:***@txu-pi.local./billingDW
4 rows affected.

[('Q1', 329926465), ('Q2', 330321504), ('Q3', 330991865), ('Q4', 328980911)]


average billing per industry per month

In [33]:
%%sql
SELECT industry, month, AVG(billedamount) AS avg_bill
FROM "FactBilling" f, "DimCustomer" d1, "DimMonth" d2
WHERE f.customerid = d1.customerid
AND f.monthid = d2.monthid
GROUP BY industry, month
ORDER BY industry, month
LIMIT 10;

 * postgresql://mywell:***@txu-pi.local./billingDW
10 rows affected.

[('Accounting', 1, Decimal('10022.435549525102')),
 ('Accounting', 2, Decimal('9705.5915875169606513')),
 ('Accounting', 3, Decimal('9880.9294436906377205')),
 ('Accounting', 4, Decimal('9828.1465400271370421')),
 ('Accounting', 5, Decimal('9914.9253731343283582')),
 ('Accounting', 6, Decimal('10208.877883310719')),
 ('Accounting', 7, Decimal('10255.754409769335')),
 ('Accounting', 8, Decimal('9807.1913161465400271')),
 ('Accounting', 9, Decimal('10146.207598371777')),
 ('Accounting', 10, Decimal('10111.009497964722'))]


average billing per industry per quarter

In [34]:
%%sql
SELECT industry, quartername, AVG(billedamount) AS avg_bill
FROM "FactBilling" f, "DimCustomer" d1, "DimMonth" d2
WHERE f.customerid = d1.customerid
AND f.monthid = d2.monthid
GROUP BY industry, quartername
ORDER BY industry, quartername
LIMIT 10;

 * postgresql://mywell:***@txu-pi.local./billingDW
10 rows affected.

[('Accounting', 'Q1', Decimal('9869.6521935775667119')),
 ('Accounting', 'Q2', Decimal('9983.9832654907281773')),
 ('Accounting', 'Q3', Decimal('10069.717774762551')),
 ('Accounting', 'Q4', Decimal('10039.921302578019')),
 ('Business Development', 'Q1', Decimal('9976.9726533628972653')),
 ('Business Development', 'Q2', Decimal('10123.834441980783')),
 ('Business Development', 'Q3', Decimal('9920.7771618625277162')),
 ('Business Development', 'Q4', Decimal('9896.1570583887657058')),
 ('Engineering', 'Q1', Decimal('10066.024242424242')),
 ('Engineering', 'Q2', Decimal('9979.1023569023569024'))]


average billing per country per quarter

In [35]:
%%sql
SELECT country, quartername, AVG(billedamount) AS avg_bill
FROM "FactBilling" f, "DimCustomer" d1, "DimMonth" d2
WHERE f.customerid = d1.customerid
AND f.monthid = d2.monthid
GROUP BY country, quartername
ORDER BY country, quartername
LIMIT 10;

 * postgresql://mywell:***@txu-pi.local./billingDW
10 rows affected.

[('Afghanistan', 'Q1', Decimal('9859.3636363636363636')),
 ('Afghanistan', 'Q2', Decimal('10295.7575757575757576')),
 ('Afghanistan', 'Q3', Decimal('9963.3030303030303030')),
 ('Afghanistan', 'Q4', Decimal('9951.7575757575757576')),
 ('Albania', 'Q1', Decimal('9297.6515151515151515')),
 ('Albania', 'Q2', Decimal('9910.5909090909090909')),
 ('Albania', 'Q3', Decimal('9297.9343434343434343')),
 ('Albania', 'Q4', Decimal('9423.8181818181818182')),
 ('American Samoa', 'Q1', Decimal('8367.2121212121212121')),
 ('American Samoa', 'Q2', Decimal('9751.1363636363636364'))]


average billing per country per industry per quarter

In [36]:
%%sql
SELECT country, industry, quartername, AVG(billedamount) AS avg_bill
FROM "FactBilling" f, "DimCustomer" d1, "DimMonth" d2
WHERE f.customerid = d1.customerid
AND f.monthid = d2.monthid
GROUP BY country, industry, quartername
ORDER BY country, industry, quartername
LIMIT 10;

 * postgresql://mywell:***@txu-pi.local./billingDW
10 rows affected.

[('Afghanistan', 'Product Management', 'Q1', Decimal('9859.3636363636363636')),
 ('Afghanistan', 'Product Management', 'Q2', Decimal('10295.7575757575757576')),
 ('Afghanistan', 'Product Management', 'Q3', Decimal('9963.3030303030303030')),
 ('Afghanistan', 'Product Management', 'Q4', Decimal('9951.7575757575757576')),
 ('Albania', 'Accounting', 'Q1', Decimal('9589.2727272727272727')),
 ('Albania', 'Accounting', 'Q2', Decimal('9806.2424242424242424')),
 ('Albania', 'Accounting', 'Q3', Decimal('8944.4545454545454545')),
 ('Albania', 'Accounting', 'Q4', Decimal('9527.6060606060606061')),
 ('Albania', 'Engineering', 'Q1', Decimal('8460.9848484848484848')),
 ('Albania', 'Engineering', 'Q2', Decimal('9936.4242424242424242'))]